<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder list Mock up </title>
	<%= stylesheet_link_tag "list" %>
</head>
<body>
	<header>
		<h1>StressShredder list</h1><h2>Mock up</h2>
	</header>
	<article>
	<h1>ふりかえりましょう</h1>
	<p>
	<h2>産技 大輔</h2>
 <table border=1 width="100%">
 	<tr><th>日付：</th><th>カテゴリ：</th><th>コメント</th></tr>
 	<tr><td>2017.5.5 </td><td bgcolor="#685B68">ぐち</td><td>腹が減った！</td></tr>
 	<tr><td>2017.6.6 </td><td bgcolor="#F7EAF7">じまん</td><td>少しは痩せた</td></tr>
 	<tr><td>2017.7.7 </td><td bgcolor="#F0DD0D">おいのり</td><td>宝くじ当たる様に！</td></tr>
 	<tr><td>2017.8.8 </td><td bgcolor="#685B68">ぐち</td><td>宝くじ買いすぎで食い物無い</td></tr>
</table>
#685B68
#F7EAF7
#F0DD0D
	</p>
	</article>
	<footer>
		<small>Copyright &copy; team_QIM, all rights reserved.</small>
	</footer>
	
</body>
</html>