<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder</title>
	<%= stylesheet_link_tag "guchi-feedback" %>
</head>
<body>
	
	      <p><%= @msg %></p>
	      
	<section>
		<div class= "guchifeedback">
			<h1 class="type1">そうか。なるほど。</h1>
			<h1 class="type1">Unlucky</h1>
		</div>
	</section>
	
		<div CLASS= "footer">
			<small>Copyright &copy; team_QIM, all rights reserved.</small>
			<br><br><br>
		</div>
</body>
<meta http-equiv="refresh" content="2;URL=https://calm-garden-50645.herokuapp.com/">
</html>